<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Order Food System (OFS)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="t5 container-fluid navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <header class="navbar">
                @*https://stackoverflow.com/questions/7709001/html-actionlink-vs-url-action-in-asp-net-razor*@
                @*https://themes.getbootstrap.com/product/touche-cafe-restaurant-theme/*@
                <a href="@Url.Action(null, "Home", null)" class="navbar-brand">
                    <img src="~/Content/images/food-order-icon-5.jpg" alt="fast order food" height="64" />
                </a>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("About Us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Contact", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </header>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="t5 container-fluid body-content">
        @RenderBody()
        
    </div>
    <div class="t5 container-fluid footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - T5 Group</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
